//rodac colors
$primaryColor:blue;
$navLink: #1565c0;
$navBackground: #e4e9eef2;
$hoverLink: white;

//old
$veryLight-green-bg: #13d00426;
$navHeight: 70px;
$lightBg: #05dd27ab;
$darkBg: #018903e0;
$lightGreen: #05dd27ab;
$bootstrapSuccess: #28a745;
.App {
  text-align: center;
}

//set default font
body, .nav-menu a {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
    
}
body{
  font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
}
//NAVBAR 

//active links
.nav-menu .active, .nav-menu a:hover{
  color: white;
}
#nav1 {
  height: $navHeight;
}
.navbar{
  opacity: 0.98;
  background-color: $navBackground;
}

//set nav links size
.nav-menu a{
  font-weight: 700;
  font-size: .950rem;
  color:$navLink;
}

.navbar a{
  text-transform: uppercase;
}
//navbar brand
.navbar .navbar-brand {
    font-size: 1.8rem;
    color: $primaryColor
}

//img below nav
//trying to style with gradient, not working
.carousel-item img{
  // z-index: 1;
// background-color: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url('/img/r_3.jpg');
// ;

}

//old css
#navImg {
  height: $navHeight;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.product-text{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.product-image{
  height: 180px;
  object-fit: contain;
}
.benefits-section .card {
  background-color: transparent;
}

.box-marker:nth-child(even) .benefit-box{
  background-color: $lightGreen;
  
}

.box-marker:nth-child(odd) .benefit-box{
  background-color: $bootstrapSuccess;
  color: white;
}

.benefit-card {
  background-color: $darkBg;
  color: white;
  border-radius: 0.25rem;
  vertical-align: middle;
}

.order-btn:hover{
  color:white;
}

/* remove padding for nav links when minimized */
@media only screen and (max-width: 990px) {
  .nav-menu a {
    padding: 5px 0 5px 15px !important;
  }
}


#projects-benefits {
  background-color: $veryLight-green-bg;
}
